:root {
--header-bg-color: #2c3e50;
    --header-text-color: #ecf0f1;
    --table-header-bg-color: #3498db;
    --table-header-text-color: #ffffff;
    --background-color: #f0f4f8;
    --text-color: #34495e;
    --hover-color: #e8f1f8;
    --border-color: #bdc3c7;
    --accent-color: #1abc9c;
    --new-row-color: #d6eaf8;
}

.step-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
.step-active {
    background-color: #0d6efd;
    color: white;
}
.line-active {
    background-color: #0d6efd;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-link:hover .header-icon {
    transform: scale(1.2);
}

h2{
    color:white;
}

.header-icon {
    color:white;
    transition: transform 0.3s ease;
}

.custom-header {
    padding: 20px 0;
    height: auto;
    background-color: var(--header-bg-color) !important;
}