:root {
    --background-color: #f0f4f8;
    --text-color: #333333;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-link:hover .header-icon {
    transform: scale(1.2);
}

.header-icon {
    color:white;
    transition: transform 0.3s ease;
}

/* Aumentar la altura de la cabecera */
.custom-header {
    padding: 30px 0;
    height: auto;
}

/* Otros estilos existentes */
.search-input {
    max-width: 300px;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .search-input {
        max-width: 100%;
    }
}

.filter-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007BFF;
    border: 1px solid #004a99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    width: 220px;
    color: white;
    margin-left: 10px;
    text-align: left;
}

.filter-container label {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.filter-container.expanded {
    display: block;
}

.search-container {
    display: inline-block;
    position: relative;
}

.search-container input.expanded {
    display: block;
}


h3 {
    text-align: center;
    color: #007BFF;
    padding-top: 20px;
}

.table-container {
    overflow-x: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: grab;
}

.table-container.active {
    cursor: grabbing;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Asegura que las celdas tengan un ancho fijo */
    min-width: 1500px; /* Ancho mínimo de la tabla */
}

th, td {
    font-family: 'Arial', sans-serif;
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
    white-space: nowrap; /* Evita que el texto se envuelva */
    width: auto; /* Ancho fijo para las celdas */
    overflow-x: hidden;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #004a99;
}

td:focus {
    outline: none;
}

td[contenteditable="true"]:hover {
    background-color: #f0f8ff;
    cursor: text;
}

.sortable {
    cursor: pointer;
}

.sortable:after {
    content: ' ▼';
}

.sortable.asc:after {
    content: ' ▲';
}



.new-row {
    background-color: #80F5D2;
}

/* Estilos para la Paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    color: #007BFF;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .disabled {
    color: #6c757d;
    border-color: #6c757d;
    cursor: not-allowed;
    background-color: #f8f9fa;
}
