:root {
    --background-color: #f0f4f8;
    --header-color: #2c3e50;
    --button-color: #3498db;
    --button-hover: #2980b9;
    --text-color: #333333;
    --back-btn-color: #95a5a6;
    --back-btn-hover: #7f8c8d;
    --logout-btn-color: #e74c3c;
    --logout-btn-hover: #c0392b;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

header {
    background-color: var(--header-color);
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

.back-button, .logout-button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 14px;
}

.back-button {
    background-color: var(--back-btn-color);
    margin-right: auto;
}

.back-button:hover {
    background-color: var(--back-btn-hover);
    transform: translateY(-2px);
}

.logout-button {
    background-color: var(--logout-btn-color);
    margin-left: auto;
}

.logout-button:hover {
    background-color: var(--logout-btn-hover);
    transform: translateY(-2px);
}

.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-container button {
    width: 280px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
    background-color: var(--button-hover);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    header h1 {
        margin: 10px 0;
        font-size: 18px;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    header {
        padding: 10px;
    }

    header h1 {
        font-size: 16px;
    }

    .back-button, .logout-button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .button-container button {
        padding: 12px 24px;
        font-size: 14px;
    }
}
