body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #007BFF;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid #004a99;
    white-space: normal;
    overflow: visible;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

td:focus {
    white-space: normal;
    overflow: visible;
    outline: none;
}

.new-row {
    background-color: #80F5D2;
}

td[contenteditable="true"]:hover {
    background-color: #f0f8ff;
    cursor: text;
}

.search-container {
    display: inline-block;
    position: relative;
}

.search-button, .filter-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    margin-left: 10px;
}

#search-input {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 5px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

.search-container input.expanded {
    display: block;
}

.filter-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #007BFF;
    border: 1px solid #004a99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
    width: 220px;
    color: white;
    margin-left: 10px;
    text-align: left;
}

.filter-container label {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.filter-container.expanded {
    display: block;
}

.sortable {
    cursor: pointer;
}

.sortable:after {
    content: ' ▼';
}

.sortable.asc:after {
    content: ' ▲';
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    margin-left: 10px;
}

.icon-button .icon {
    font-size: 24px;
    color: #007BFF;
}

.icon-button:hover .icon {
    color: #0056b3;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-actions {
    display: flex;
    justify-content: flex-start;
}

.center-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.right-actions {
    display: flex;
    justify-content: flex-end;
}