:root {
        --header-bg-color: #2c3e50;
            --header-text-color: #ecf0f1;
            --table-header-bg-color: #3498db;
            --table-header-text-color: #ffffff;
            --background-color: #f0f4f8;
            --text-color: #34495e;
            --hover-color: #e8f1f8;
            --border-color: #bdc3c7;
            --accent-color: #1abc9c;
            --new-row-color: #d6eaf8;
            --button-color: #3498db;
            --button-hover: #2980b9;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
}

h2{
    color:white;
}

.custom-header {
    padding: 30px 0;
    height: auto;
    background-color: var(--header-bg-color) !important;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-link:hover .header-icon {
    transform: scale(1.2);
}

.header-icon {
    color: var(--header-text-color);
    transition: transform 0.3s ease;
}

.content-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-container button {
    width: 280px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container button:hover {
    background-color: var(--button-hover);
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



@media (max-width: 768px) {
    header h1 {
        margin: 10px 0;
        font-size: 18px;
    }

    .button-container {
        flex-direction: column;
    }

    .button-container button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .back-button, .logout-button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .button-container button {
        padding: 12px 24px;
        font-size: 14px;
    }
}
