<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de Datos del Barco</title>
    <link rel="stylesheet" href="/css/estilos_datos_barco.css">
</head>
<body>
<header>
    <h3>Detalles de Datos del Barco</h3>
    <div class="actions">
        <div class="left-actions">
            <button class="icon-button" onclick="DatosBarcoApp.goBack()">
                <span class="icon">🔙</span> <!-- Icono de Volver Atrás -->
            </button>
        </div>
        <div class="center-actions">
            <button class="icon-button" onclick="DatosBarcoApp.guardarCambios()">
                <span class="icon">💾</span> <!-- Icono de Guardar -->
            </button>
            <button class="icon-button" onclick="DatosBarcoApp.crearDatosBarco()">
                <span class="icon">➕</span> <!-- Icono de Crear Línea -->
            </button>
            <div class="search-container">
                <button class="search-button" onclick="DatosBarcoApp.toggleSearch()">🔍</button>
                <button class="filter-button" onclick="DatosBarcoApp.toggleFilter()">⚙️</button>
                <input type="text" id="search-input" oninput="DatosBarcoApp.filtrarDetalles()" placeholder="Buscar..." style="display: none;">
                <div class="filter-container">
                    <label><input type="checkbox" name="columnFilter" value="2"> ID Pedido Compra</label>
                    <label><input type="checkbox" name="columnFilter" value="3"> Nº Operación</label>
                    <label><input type="checkbox" name="columnFilter" value="4"> Nombre Barco</label>
                    <label><input type="checkbox" name="columnFilter" value="5"> Viaje</label>
                    <label><input type="checkbox" name="columnFilter" value="6"> Naviera</label>
                    <label><input type="checkbox" name="columnFilter" value="7"> Puerto Embarque</label>
                    <label><input type="checkbox" name="columnFilter" value="8"> Puerto Llegada</label>
                    <label><input type="checkbox" name="columnFilter" value="9"> Fecha Embarque</label>
                    <label><input type="checkbox" name="columnFilter" value="10"> Fecha Llegada</label>
                    <label><input type="checkbox" name="columnFilter" value="11"> Flete</label>
                    <label><input type="checkbox" name="columnFilter" value="12"> Fecha Pago Flete</label>
                    <label><input type="checkbox" name="columnFilter" value="13"> Factura Flete</label>
                </div>
            </div>
        </div>
        <div class="right-actions">
            <button class="icon-button" onclick="DatosBarcoApp.logout()">
                <span class="icon">🔒</span> <!-- Icono de Cerrar Sesión -->
            </button>
        </div>
    </div>
</header>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Eliminar</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('pedidoCompra.idPedidoCompra')">ID Pedido Compra</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('nOperacion')">Nº Operación</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('nombreBarco')">Nombre Barco</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('viaje')">Viaje</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('naviera')">Naviera</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('puertoEmbarque')">Puerto Embarque</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('puertoLlegada')">Puerto Llegada</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('fechaEmbarque')">Fecha Embarque</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('fechaLlegada')">Fecha Llegada</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('flete')">Flete</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('fechaPagoFlete')">Fecha Pago Flete</th>
            <th class="sortable" onclick="DatosBarcoApp.sortTable('facturaFlete')">Factura Flete</th>
        </tr>
        </thead>
        <tbody>
        <!-- Las filas se renderizarán dinámicamente -->
        </tbody>
    </table>
</div>

<!-- Controles de Paginación -->
<div class="pagination">
    <!-- Botón Primera Página -->
    <span id="primera-pagina-span">
        <a id="primera-pagina" href="javascript:void(0);" onclick="DatosBarcoApp.irAPrimeraPagina()">Primera Página</a>
    </span>

    <!-- Botón Anterior -->
    <span id="anterior-span">
        <a id="anterior-pagina" href="javascript:void(0);" onclick="DatosBarcoApp.irAPaginaAnterior()">Anterior</a>
    </span>

    <!-- Botón Siguiente -->
    <span id="siguiente-span">
        <a id="siguiente-pagina" href="javascript:void(0);" onclick="DatosBarcoApp.irAPaginaSiguiente()">Siguiente</a>
    </span>

    <!-- Botón Última Página -->
    <span id="ultima-pagina-span">
        <a id="ultima-pagina" href="javascript:void(0);" onclick="DatosBarcoApp.irAUltimaPagina()">Última Página</a>
    </span>
</div>

<script src="/js/sweet-alert2/dist/sweetalert2.all.min.js"></script>
<script type="module" src="/js/datos_barco.js"></script>
</body>
</html>
