<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloshome.css">
</head>
<body>
<header>
    <h1>Welcome  to Home Page</h1>
    <button onclick="logout()">Cerrar Sesión</button>
</header>
<div>
    <p>This is your home page. You are successfully logged in!</p>
</div>

<script>
        function logout() {
            // Redirige a la ruta de logout
            window.location.href = "/logout";
        }
    </script>
</body>
</html>