<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Carpathia ERP</title>
    <link rel="stylesheet" type="text/css" href="/css/estiloshome.css">
</head>
<body>
<header>
    <div class="logo-container">
        <img src="images/logo_carpathia.png" alt="Logo Carpathia" class="logo">
    </div>
    <h1>Módulos Carpathia ERP</h1>
    <button onclick="logout()" class="logout-btn">Cerrar Sesión</button>
</header>

<div class="content-container">
    <div class="button-container">
        <button onclick="window.location.href='/compras'">Gestionar Compras</button>
        <button onclick="window.location.href='/ventas'">Gestionar Ventas</button>
        <button onclick="window.location.href='/usuarios'">Gestionar Usuarios</button>
    </div>
</div>

<script>
        function logout() {
            window.location.href = "/logout";
        }
    </script>
</body>
</html>