<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pedidos de Compra</title>
    <link rel="stylesheet" href="/css/estilos_pedidos_compra.css">
</head>
<body>
<header>
    <h3>Pedidos de Compra</h3>
    <div class="actions">
        <div class="left-actions">
            <button class="icon-button" onclick="goBack()">
                <span class="icon">🔙</span> <!-- Icono de Volver Atrás -->
            </button>
        </div>
        <div class="center-actions">
            <button class="icon-button" onclick="guardarCambios()">
                <span class="icon">💾</span> <!-- Icono de Guardar -->
            </button>
            <button class="icon-button" onclick="crearPedidoCompra()">
                <span class="icon">➕</span> <!-- Icono de Crear Línea -->
            </button>
            <div class="search-container">
                <button class="icon-button search-button" onclick="toggleSearch()">🔍</button>
                <button class="icon-button filter-button" onclick="toggleFilter()">⚙️</button>
                <input type="text" id="search-input" oninput="filtrarPedidos()" placeholder="Buscar..." style="display: none;">
                <div class="filter-container">
                    <label><input type="checkbox" name="columnFilter" value="2"> ID</label>
                    <label><input type="checkbox" name="columnFilter" value="3"> Nº Operación</label>
                    <label><input type="checkbox" name="columnFilter" value="4"> Nº Contenedor</label>
                    <label><input type="checkbox" name="columnFilter" value="5"> Proforma</label>
                    <label><input type="checkbox" name="columnFilter" value="6"> Proveedor</label>
                    <label><input type="checkbox" name="columnFilter" value="7"> Cliente</label>
                    <label><input type="checkbox" name="columnFilter" value="8"> Incoterm</label>
                    <label><input type="checkbox" name="columnFilter" value="9"> Referencia Proveedor</label>
                </div>
            </div>
        </div>
        <div class="right-actions">
            <button class="icon-button" onclick="logout()">
                <span class="icon">🔒</span> <!-- Icono de Cerrar Sesión -->
            </button>
        </div>
    </div>
</header>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Eliminar</th>
            <th class="sortable" onclick="sortTable(1)">ID</th>
            <th class="sortable" onclick="sortTable(2)">Nº Operación</th>
            <th class="sortable" onclick="sortTable(3)">Nº Contenedor</th>
            <th class="sortable" onclick="sortTable(4)">Proforma</th>
            <th class="sortable" onclick="sortTable(5)">Proveedor</th>
            <th class="sortable" onclick="sortTable(6)">Cliente</th>
            <th class="sortable" onclick="sortTable(7)">Incoterm</th>
            <th class="sortable" onclick="sortTable(8)">Referencia Proveedor</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pedido : ${pedidosCompra}" th:data-id-pedido-compra="${pedido.idPedidoCompra}">
            <td>
                <button class="delete-button" th:onclick="'eliminarPedido(' + ${pedido.idPedidoCompra} + ')'">🗑️</button>
            </td>
            <td th:text="${pedido.idPedidoCompra}">ID</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.n_operacion}">Nº Operación</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.n_contenedor}">Nº Contenedor</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.proforma}">Proforma</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.proveedor}">Proveedor</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.cliente}">Cliente</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.incoterm}">Incoterm</td>
            <td contenteditable="true" class="editable" oninput="marcarModificado(this)" th:text="${pedido.referenciaProveedor}">Referencia Proveedor</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/js/sweet-alert2/dist/sweetalert2.all.min.js"></script>
<script src="/js/pedidos_compra.js"></script>
</body>
</html>
