<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalles de Pedido de Compra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos_pedidos_compra_det.css">

</head>
<body>
<header class="bg-secondary border-bottom custom-header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-3">
            <!-- Left side - Back arrow -->
            <div>
                <button class="btn btn-link p-0" title="Go back" onclick="PedidoCompraDetApp.goBack()">
                    <i class="bi bi-arrow-left header-icon fs-2"></i>
                    <span class="visually-hidden">Go back</span>
                </button>
            </div>

            <!-- Center - Home, Add, Search, Configuration -->
            <div class="d-flex align-items-center gap-3">
                <button class="btn btn-link p-0" title="Home" onclick="PedidoCompraDetApp.goHome()">
                    <i class="bi bi-house header-icon fs-2"></i>
                    <span class="visually-hidden">Home</span>
                </button>

                <div class="position-relative ">
                    <input type="text" id="search-input" class="form-control pe-5" placeholder="Search..." oninput="PedidoCompraDetApp.filtrarDetalles()">
                    <button class="search-button" title="Search" onclick="PedidoCompraDetApp.toggleSearch()">
                        <i class="bi bi-search"></i>
                        <span class="visually-hidden">Search</span>
                    </button>
                </div>

                <button class="btn btn-link p-0 filter-button" title="Configuration" onclick="PedidoCompraDetApp.toggleFilter()">
                    <i class="bi bi-gear header-icon fs-2"></i>
                    <span class="visually-hidden">Configuration</span>
                </button>
                <div class="search-container">
                    <div class="filter-container">
                        <label><input type="checkbox" name="columnFilter" value="2"> ID</label>
                        <label><input type="checkbox" name="columnFilter" value="3"> Nº Operación</label>
                        <label><input type="checkbox" name="columnFilter" value="4"> Contrato Compra</label>
                        <label><input type="checkbox" name="columnFilter" value="5"> Terminado</label>
                        <label><input type="checkbox" name="columnFilter" value="6"> Fact. Proveedor</label>
                        <label><input type="checkbox" name="columnFilter" value="7"> Nº Fact. Flete</label>
                        <label><input type="checkbox" name="columnFilter" value="8"> Fecha Pago Flete</label>
                        <label><input type="checkbox" name="columnFilter" value="9"> Nº BL</label>
                        <label><input type="checkbox" name="columnFilter" value="10"> Peso Neto Total</label>
                        <label><input type="checkbox" name="columnFilter" value="11"> Total Bultos</label>
                        <label><input type="checkbox" name="columnFilter" value="12"> Promedio</label>
                        <label><input type="checkbox" name="columnFilter" value="13"> Valor Compra Total</label>
                        <label><input type="checkbox" name="columnFilter" value="14"> Observaciones</label>
                        <label><input type="checkbox" name="columnFilter" value="15"> Status Pedido (T/P)</label>
                    </div>
                </div>
                <button class="btn btn-link p-0" title="Add new" onclick="PedidoCompraDetApp.crearPedidoCompraDet()">
                    <i class="bi bi-plus-lg header-icon fs-2"></i>
                    <span class="visually-hidden">Add new</span>
                </button>
                <button class="btn btn-link p-0" title="Save" onclick="PedidoCompraDetApp.guardarCambios()">
                    <i class="bi bi-save header-icon fs-2"></i>
                    <span class="visually-hidden">Save</span>
                </button>
            </div>

            <!-- Right side - Logout -->
            <div>
                <button class="btn btn-link p-0" title="Logout" onclick="PedidoCompraDetApp.logout()">
                    <i class="bi bi-box-arrow-right header-icon fs-2"></i>
                    <span class="visually-hidden">Logout</span>
                </button>
            </div>
        </div>
    </div>
</header>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Eliminar</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('pedidoCompra.idPedidoCompra')">ID Pedido Compra</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('nOperacion')">Nº Operación</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('contratoCompra')">Contrato Compra</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('terminado')">Terminado(S/N)</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('factProveedor')">Fact. Proveedor</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('nFactFlete')">Nº Fact. Flete</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('fechaPagoFlete')">Fecha Pago Flete</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('nBl')">Nº BL</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('pesoNetoTotal')">Peso Neto Total</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('totalBultos')">Total Bultos</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('promedio')">Promedio</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('valorCompraTotal')">Valor Compra Total</th>
            <th class="sortable" onclick="PedidoCompraDetApp.sortTable('observaciones')">Observaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detalle : ${detallesPedidoCompra}" th:data-id-pedido-compra-det="${detalle.idPedidoCompraDet}">
            <td>
                <button class="delete-button" th:onclick="'PedidoCompraDetApp.eliminarPedidoCompraDet(' + ${detalle.idPedidoCompraDet} + ')'">🗑️</button>
            </td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.idPedidoCompra}">ID Pedido Compra</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.n_operacion}">Nº Operación</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.contratoCompra}">Contrato Compra</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.terminado}">Terminado</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.factProveedor}">Fact. Proveedor</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.n_fact_flete}">Nº Fact. Flete</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.fechaPagoFleteFormatted}">Fecha Pago Flete</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.n_bl}">Nº BL</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.pesoNetoTotal}">Peso Neto Total</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.totalBultos}">Total Bultos</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.promedio}">Promedio</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.valorCompraTotal}">Valor Compra Total</td>
            <td contenteditable="true" class="editable" oninput="PedidoCompraDetApp.marcarModificado(this)" th:text="${detalle.observaciones}">Observaciones</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Controles de Paginación -->
<!-- Controles de Paginación -->
<div class="pagination">
    <!-- Botón Primera Página -->
    <span id="primera-pagina-span">
        <a id="primera-pagina" href="javascript:void(0);" onclick="PedidoCompraDetApp.irAPrimeraPagina()">Primera Página</a>
    </span>

    <!-- Botón Anterior -->
    <span id="anterior-span">
        <a id="anterior-pagina" href="javascript:void(0);" onclick="PedidoCompraDetApp.irAPaginaAnterior()">Anterior</a>
    </span>

    <!-- Botón Siguiente -->
    <span id="siguiente-span">
        <a id="siguiente-pagina" href="javascript:void(0);" onclick="PedidoCompraDetApp.irAPaginaSiguiente()">Siguiente</a>
    </span>

    <!-- Botón Última Página -->
    <span id="ultima-pagina-span">
        <a id="ultima-pagina" href="javascript:void(0);" onclick="PedidoCompraDetApp.irAUltimaPagina()">Última Página</a>
    </span>
</div>
<script src="/js/sweet-alert2/dist/sweetalert2.all.min.js"></script>
<script type="module" src="/js/pedidos_compra_det.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
